{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meu Acervo</title>
{% include 'parciais/_head.html' %}
</head>
<body>
{% include 'parciais/_nav.html' %}
    <!-- Conteúdo -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {%block conteudo%}

                {%endblock%}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>